.container {
  background-color: lightsteelblue;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.header {
  padding: 50px;
  text-align: center;
}


.navDiv {
  background-color: gainsboro;
  padding: 5px;
  float: left;
  color: darkblue;
}

.navBar {
  list-style: none;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.containerActoriFilme {
  background-color: whitesmoke;
  padding: 30px;
  margin-left: 140px;
}
